* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cor-fundo: #121212;
  --cor-fundo-sec: #1E1E1E;
  --cor-principal: #E50914;
  --cor-texto: #FFFFFF;
  --cor-texto-sec: #B3B3B3;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--cor-fundo);
}

header {
  background-color: var(--cor-fundo-sec);
  padding: 20px;
  text-align: center;
  border-bottom: 2px solid var(--cor-principal);
}

h1 {
  color: var(--cor-texto);
  font-size: 2.5em;
}

.controle {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px 0;
}

#busca {
  width: 250px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#filtro-genero {
  background-color: var(--cor-fundo-sec);
  color: var(--cor-texto);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: border 0.3s;
}

#filtro-genero:hover {
  border-color: var(--cor-principal);
}

#btn-buscar {
  padding: 10px;
  border: none;
  background-color: var(--cor-principal);
  border-radius: 5px;
  cursor: pointer;
}

.icone-lupa {
  width: 20px;
  height: 20px;
}

#filtro-classificacao {
  background-color: var(--cor-fundo-sec);
  color: var(--cor-texto);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: border 0.3s;
}

#filtro-classificacao:hover {
  border-color: var(--cor-principal);
}

#filtro-ano {
  background-color: var(--cor-fundo-sec);
  color: var(--cor-texto);
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
  transition: border 0.3s;
}

#filtro-ano:hover {
  border-color: var(--cor-principal);
}

#catalogo {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  padding: 30px;
}

.filmes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 40px;
  padding: 30px;
}

.filme {
  background-color: var(--cor-fundo-sec);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px var(--cor-fundo);
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
  text-align: center;
  padding-bottom: 10px;
}

.filme:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px var(--cor-principal);
}

.capa-filme {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
}

.filme h2 {
  margin: 10px 0 5px 0;
  font-size: 1.1rem;
  color: var(--cor-texto);
}

.filme p {
  font-size: 0.9rem;
  color: var(--cor-texto);
}